  *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
  }
  div{
    margin-bottom: 10px;
  }
  form{
    width: 50%;
    margin: 0 auto;
  }
  input{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #333;
  }
  .App{
    background-color: #000;
    color: #fff;
    height: 100vh;
  }
  button[type="submit"]{
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 10px;
  }
  button[type="submit"]:hover{
    color: #333;
    background-color: tomato;
    transition: 0.3s;
  }
